{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver", {
        "alias": {
          "@core": "./src/core",
          "@views": "./src/views",
          "@routes": "./src/routes",
          "@services": "./src/services",
          "@utils": "./src/utils"
        },
        "extensions": [".js"]
      }
    ]
  ]
}